<div class="center">
  <div class="home">
    
    <p class="title">Welcome to Fight Club!</p>
    <%= link_to new_fighter_path do %>
     <button class="btn btn-lg btn-success">New Fighter!</button>
    <% end %>
    
   </div>
</div>
  
   