/* mixin */
@mixin margin($left: 25px, $top: 0px, $right: 25px, $bootom: 0px) {
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
    margin-bootom: $bootom;
}

@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* header */
header{
    @include margin;
    
    /* navbar */
    .navbar-fluid{
        @include margin;
    }
}

/* content */
.content{
    
    @include margin(25px, 50px, 25px, 0px);
    
    .center{
       @include center; 
    }
    
    h1, .skill{
        margin-bottom: 25px;
        text-align: center;
    }
    
    h2{
        margin-bottom: 10px;
        text-align: center;
    }
    
    .line{
        hr {
            color: gray;
            background: gray;
            height: 2px;
        }
    }
    
    .fighters {
        list-style: none;
        margin-top: 25px;
        
        li {
        overflow: auto;
        padding: 10px 0;
        } 
    }
    
    .place {
        font-size: 28px;
        margin-right: 25px;
    }
    
    /* forms */   
    .fighter-form{
        width: 300px;
        position: absolute;
        left: 50%;
        @include margin(-150px, 0px, 0px, 10px);
    }
    
    .skill-form{
        width: 500px;
        position: absolute;
        left: 50%;
        @include margin(-250px, 0px, 0px, 10px);
    }
    
    .form-inputs{
        
        input, textarea, select{
            width: 100% ;
            margin-bottom: 10px;
        }
        
        label{
            float: left;
        }
    }
    
    .form-action{
        text-align: center;
        margin-top: 20px;
    }
    
    /* home page */
    .home{
        font-size: 22px;
        text-align: center;
        .title{
            font-size: 45px;
        }
    }
    
    /* user profile */
    .profile{
        width: 700px;
        text-align: center;
        position: absolute;
        left: 50%;
        @include margin(-350px, 25px, 0px, 10px);
    }
    
    .avatar{
        margin-bottom: 10px;
    }
    
    .profile-information{
        font-size: 15px;
        margin-bottom: 35px;
    }
    
    .skills{
        max-width: 60%;
        margin: 0 auto; 
        text-align: center;
    }
    
    .fights{
        margin-top: 35px;
    }
    
    .big{
        font-size: 18px;
        font-weight: bold;
    }
    
    /* fight */
    .fight{
        font-size: 75px;
        margin-left: 25px;
        margin-right: 25px;
        font-family: "Courier New", Courier, Serif;
    }
}